@{
    ViewBag.Title = "Features";
}

<h2>Features</h2>

<table>
<tbody>
<tr><td>Multiple website support</td><td><img src="/images/icons/ok.png" alt="Supported" /></td><td></td></tr>
<tr><td>Trial (15 days)</td><td><img src="/images/icons/ok.png" alt="Supported" /></td><td></td></tr>
<tr><td>Automated chat state detection</td><td><img src="/images/icons/ok.png" alt="Supported" /><td></td></tr>
<tr><td>Possibility to invite visitors to chat from the operator side</td><td><img src="/images/icons/ok.png" alt="Supported" /></td><td></td></tr>
<tr><td>Multiple operators (up to 3)</td><td><img src="/images/icons/ok.png" alt="Supported" /></td><td></td></tr>
<tr><td>Automated chat invitation</td><td><img src="/images/icons/cancel.png" alt="Not supported" /></td><td></td></tr>
<tr><td>Encrypted chat sessions</td><td><img src="/images/icons/ok.png" alt="Supported" /></td><td></td></tr>
<tr><td>Chat transcripts</td><td><img src="/images/icons/ok.png" alt="Supported" /></td><td></td></tr>
<tr><td>Canned (pre-defined) messages</td><td><img src="/images/icons/ok.png" alt="Supported" /></td><td></td></tr>
<tr><td>Pushing pages from operator to visitor</td><td><img src="/images/icons/cancel.png" alt="Not supported" /></td><td></td></tr>
<tr><td>File transfer between visitors and operators</td><td><img src="/images/icons/cancel.png" alt="Not supported" /></td><td></td></tr>
<tr><td>Emoticons in chat messages</td><td><img src="/images/icons/cancel.png" alt="Not supported" /></td><td></td></tr>
<tr><td>Automatic URL recognition in chat text for both operator and visitor</td><td><img src="/images/icons/ok.png" alt="Supported" /></td><td></td></tr>
<tr><td>"Party is typing" notification</td><td><img src="/images/icons/ok.png" alt="Supported" /></td><td></td></tr>
<tr><td>Start Chat Form to request additional information from the visitor before the chat</td><td><img src="/images/icons/ok.png" alt="Supported" /></td><td></td></tr>
<tr><td>Customizable Post Chat Survey to request the visitor's feedback after the chat</td><td><img src="/images/icons/cancel.png" alt="Not supported" /></td><td></td></tr>
<tr><td>Customizable Proactive Chat Invitation form</td><td><img src="/images/icons/cancel.png" alt="Not supported" /></td><td></td></tr>
<tr><td>Customizable Visitor Chat Messenger appearance</td><td><img src="/images/icons/cancel.png" alt="Not supported" /></td><td></td></tr>
<tr><td>Operator picture</td><td><img src="/images/icons/cancel.png" alt="Not supported" /></td><td></td></tr>
<tr><td>Localization of visitor's chat window</td><td><img src="/images/icons/ok.png" alt="Supported" /></td><td>In English, Bulgarian and German</td></tr>
<tr><td>Chat transcript sending to the e-mail specified by the visitor</td><td><img src="/images/icons/cancel.png" alt="Not supported" /></td><td></td></tr>
<tr><td>Printing out the chat text from the visitor side</td><td><img src="/images/icons/cancel.png" alt="Not supported" /></td><td></td></tr>
<tr><td>Enabling/disabling sounds on the visitor side</td><td><img src="/images/icons/ok.png" alt="Supported" /></td><td></td></tr>
<tr><td>Web-based operator console</td><td><img src="/images/icons/ok.png" alt="Supported" /></td><td></td></tr>
<tr><td>Online/ Offline state of operator</td><td><img src="/images/icons/ok.png" alt="Supported" /></td><td></td></tr>
<tr><td>Multiple simultaneous chat sessions	</td><td><img src="/images/icons/ok.png" alt="Supported" /></td><td></td></tr>
<tr><td>Visual notifications for new visitor</td><td><img src="/images/icons/ok.png" alt="Supported" /></td><td></td></tr>
<tr><td>Co-browsing</td><td><img src="/images/icons/cancel.png" alt="Not supported" /></td><td></td></tr>
<tr><td>Spell checker</td><td><img src="/images/icons/cancel.png" alt="Not supported" /></td><td>Using the browser specific spell checker</td></tr>
<tr><td>English/Deutsch/Български</td><td><img src="/images/icons/ok.png" alt="Supported" /></td><td></td></tr>
<tr><td>Real time website monitoring</td><td><img src="/images/icons/ok.png" alt="Supported" /></td><td></td></tr>
<tr><td>Visitor details - IP, browser/OS, current page, country</td><td><img src="/images/icons/ok.png" alt="Supported" /></td><td></td></tr>
<tr><td>Reports</td><td><img src="/images/icons/cancel.png" alt="Not supported" /></td><td></td></tr>
<tr><td>Referrer and search engine keywords detection</td><td>Partial</td><td></td></tr>
<tr><td>Geo Location map</td><td><img src="/images/icons/cancel.png" alt="Not supported" /></td><td></td></tr>
<tr><td>Pass javascript variables from client to operator</td><td><img src="/images/icons/cancel.png" alt="Not supported" /></td><td></td></tr>
<tr><td>Easy website Integration</td><td><img src="/images/icons/ok.png" alt="Supported" /></td><td></td></tr>
<tr><td>Code supporting both plain and secure pages	</td><td><img src="/images/icons/ok.png" alt="Supported" /></td><td></td></tr>
<tr><td>Code for emails</td><td><img src="/images/icons/ok.png" alt="Supported" /></td><td></td></tr>
<tr><td>Code for websites not supporting JavaScript</td><td><img src="/images/icons/ok.png" alt="Supported" /></td><td></td></tr>
<tr><td>Possibility to display different chat buttons on different websites, pages or places on the same page</td><td><img src="/images/icons/ok.png" alt="Supported" /></td><td></td></tr>
<tr><td>Possibility to display text chat link instead of chat icon</td><td><img src="/images/icons/ok.png" alt="Supported" /></td><td></td></tr>
<tr><td>Website monitoring possibility without chat icon/link displaying</td><td><img src="/images/icons/ok.png" alt="Supported" /></td><td></td></tr>
</tbody>
</table>
