@model LiveSupport.Data.Company

@{
    ViewBag.Title = "Buy";
}

<h2>Buy</h2>

@Html.Partial("Navigation")

<p>You may upgrade your license, or purchase additional months from here
<br /> We accept Paypal and all major credit cards</p>

<p>Please allow two business day to confirm your payment</p>

