@{
    ViewBag.Title = "Logo";
}

<h2>Logo</h2>

<script type="text/javascript">
    $(function () {
        $("#dialog").dialog({
            bgiframe: true,
            height: 200,
            modal: true,
            autoOpen: false,
            resizable: false
        })
    });


</script>
@Html.Partial("Navigation")

<div id="dialog" title="Upload files">        
    @using (Html.BeginForm("Upload", "Company", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <p><input type="file" id="fileUpload" name="fileUpload" size="23"/> 
        </p>
        <p><input type="submit" value="Upload file" /></p>        
        <p style="font-style:italic">Images larger than 64x64 will be scaled down</p>
    }
</div>
<img src='@Url.Action("GetLogo" , "Company")' alt='Company logo' />

<br />
<a href="#" onclick="$('#dialog').dialog('open'); return false;">Upload Logo</a>
