@{
    ViewBag.Title = "Terms of Service";
}

<h1>Terms of Service</h1>

<h2>Introduction</h2>

<h2>Definitions</h2>
<ul>
    <li><strong>Moplig.com</strong> means the site providing live support chat serice</li>
    <li><strong>Customer</strong> means the entity who has account in moplig.com</li>
    <li><strong>Live chat icon</strong> means image and link to initiate live chat support with visitors on web site</li>
    <li><strong>Tracking script</strong> means the script used to track visitors and proactively chat with them</li>
</ul>

<h2>General</h2>
<p>Moplig.com provides website live support chat and website monitoring. We endeavour to provide this service to you without any delays, interruption or distortion. However, the service may at some times be unavailable without notice due to maintenance or system failure. No liability is accepted or compensation offered should the service be unavailable.</p>

<p>There is no limitation in using live chat icons and initiating chat sessions with your visitors</p>

<h3>Payment</h3>
After an initial free trial period the customer has the option to continue using the service by paying in advance using one of the pricing plans.

<br />The Customer has the right to cancel his/her account at any time without notice at any time.

<h2>Limitation of liability</h2>
<strong>Moplig.com</strong> is not liable for any loss of profits or damages arising out of the use of this service.
<p>The maximum extent of liability is limited by the amount paid for this service</p>



