@{
    ViewBag.Title = "Snippet";
}

<script type="text/javascript">
    function onCultureChange() {

    }
</script>

<fieldset>
<legend><h2>Code snippets</h2></legend>
<div>
 @Html.DropDownList("cultureInfo", LiveSupport.Controllers.CodeController.CultureSelectList(), new { onchange = "onCultureChange()"}) 
 </div>
 
 
Insert the image at a position you want the image to appear. It will show the online/ offline status and allow online chat. If operator is unavailable the system provides an e-mail dialog
<textarea style="width:100%" id="codeSnippet2">@ViewBag.CodeSnippet2</textarea>
<table>
    <caption>Preview</caption>
    <tbody>
        <tr><td><img src="/images/en/online.png" alt="online"/></td><td><img src="/images/en/offline.png" alt="offline"/></td></tr>
    </tbody>
</table>


Place the following code just before the ending body tag in order to track visitors
<textarea style="width:100%">@ViewBag.CodeSnippet3</textarea>
</fieldset>

<fieldset>
<legend><h2>Joomla integration</h2></legend>
<p>Installation instructions:</p>

<h3>1.0</h3>
<p>Download <a href="/integration/joomla/1.0/mod_livesupport.zip">1.0 Module</a> and save the zip file. Login to your Joomla CMS installation as Administrator and install the module from Installers->Module menu.
<br />After installation configure the module by pasting the code snippet into the appropriate text field</p>

<h3>1.5</h3>
<p><a href="/integration/joomla/1.5/mod_livesupport.zip">1.5 Module</a> and save the zip file. Login to your Joomla CMS installation as Administrator and install it from Extensions->Install/Uninstall menu
<br />After installation configure the module by pasting the code snippet into the appropriate text field</p>
</fieldset>