@{
    Layout = null;
}


    <div>

    @{string status = string.Empty;}
    @{if (ViewBag.IsAvailableOperator) { status = "Online"; } else { status = "Offline"; }}

    @{if (ViewBag.IsAvailableOperator)
      {
        <a href="javascript:void(window.open('@Url.Action("Ask", "Live", new { company = ViewBag.SupportCompany, referer = ViewBag.Referer })','','width=590,height=400,left=0,top=0,resizable=yes,menubar=no,location=no,status=yes,scrollbars=yes'))">
        <img border="0"  alt="Live Support" src="/images/online.png"/>
        </a>                                                                                                                                                          
      }
      else
      { 
        <img border="0" alt="Live Support" src="/images/offline.png"/>
      }
    }

    

    </div>

