@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Thanks</title>
<style>
    body {
        background-color: #5C87B2;
        color: #696969;
        font-family: Verdana,Tahoma,Arial,"Helvetica Neue",Helvetica,Sans-Serif;
        font-size: 75%;
        margin: 0;
        padding: 0;
    }    
    .page {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }   
    #main {
    background-color: #FFFFFF;
    margin-bottom: 0;
    padding: 30px 30px 15px;
} 
</style>
</head>
<body>
    <div class="page">
        <div id="main">
            <h3>Your message was successfuly sent!</h3>
            <button onclick="window.close();">Close</button>
        </div>
    </div>
</body>
</html>
