@{
    ViewBag.Title = "HTTP 404 - Resource not found";
}

<h2><img src="/images/icons/cancel.png" alt="Not found" />Resource was not found</h2>

<h3>The server returned HTTP error 404</h3>

<h4>Did you enter the correct URL?</h4>
<p>
Sometimes a simple typo may lead to an error like these. Check once again, whether the correct URL is written in the location bar
</p>

<h4>Did you follow an outdated link</h4>
<p>Outdated links are common reason for 404 errors. Please drop us a line at feedback@moplig.com and tell was what went wrong</p>


<h3>What to do now?</h3>
<p>@Html.ActionLink("Go to homepage","Index","Home")</p>
