@{
    ViewBag.Title = "HttpError";
}

<h2>HttpError</h2>

<h3>An unknown error has occurred</h3>

<p>The server administration was notified and proper actions will be taken</p>
<p>Sorry for the inconvenience!</p>