<a href="@Url.Action("ChangeCulture", "Account",
    new { lang = (int)LiveSupport.Culture.en, returnUrl =
    this.Request.RawUrl
    })" class = "culture-link"><img src='/images/flags/flags-united_kingdom.png' alt="English"/></a>

<a href="@Url.Action("ChangeCulture", "Account",
    new { lang = (int)LiveSupport.Culture.de, returnUrl =
    this.Request.RawUrl
    })" class = "culture-link"><img src='/images/flags/flags-germany.png' alt="Deutsch"/></a>

<a href="@Url.Action("ChangeCulture", "Account",
    new { lang = (int)LiveSupport.Culture.bg, returnUrl =
    this.Request.RawUrl
    })" class = "culture-link"><img src='/images/flags/flags-bulgaria.png' alt="Български"/></a>