@model LiveSupport.Data.License

@{
    ViewBag.Title = "License Expired";
}

<h2>License Expired</h2>
<p>Unfortunately your license has expired on @Model.EndDate and you can no longer support your website visitors</p>
<p>You may check your license status and renew it @Html.ActionLink("on your Company page", "Index", "Company")</p>

