.tweets, .tweets td {
    font-family: Verdana;
    font-size: 13px;
}
.tweets {
    background-color: Black;
    border: 2px solid gray;
    color: White;
    height: 40em;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0.5em;
    position: relative;
    width: 55%;
}
.tweets table {
    border-width: 0;
}
.tweets tr {
    vertical-align: top;
}
.tweets td {
    border-width: 0;
    padding: 0.4em 0.3em 1em 0.4em;
}
.tweets img {
    width: 4em;
}
.tweetInfo {
    color: Gray;
    font-size: 0.9em;
}
.twitterUser {
    color: #77AAFF;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
}
input.invalid {
    background-color: #FFAAAA !important;
    border: 1px solid red !important;
}

.currentUsers {
    height: 28em;
    overflow-x: hidden;
    overflow-y: auto;
}
.currentUsers button {
    float: right;
    height: 2.5em;
    margin: 0.1em;
    padding-left: 1em;
    padding-right: 1em;
}
.currentUsers ul, .configuration li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.currentUsers li {
    background-color: #A7D0E3;
    border: 1px solid gray;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0.2em 0.5em gray;
    font-size: 1.2em;
    height: 2.4em;
    margin-bottom: 0.3em;
}
.currentUsers li div {
    padding: 0.6em;
}
.currentUsers li:hover {
    background-color: #EEEECC;
}

.loadingIndicator {
    background-color: #222299;
    color: White;
    display: none;
    font: 0.8em Arial;
    left: 0.1em;
    padding: 0.2em 0.5em;
    position: absolute;
    top: 0.1em;
}
